.outer{
    background-color: #fefff0;
    padding:100px 200px;
}
.content{
    display:flex;
    /* align-items:center;
    justify-content:center; */
    flex-direction: column;
    background-color: white;
    padding:50px;
    border-radius: 10px;
    justify-content: left;
}
.preparation-time{
    background-color: #f6d5f9;
    border-radius: 5px;
    padding: 10px;
}
.omelette-pic{
    border-radius:5px;
}
.subheading{
    /* text-align:left; */
    color:brown;
}
.line{
    color: black;
}
.nutrition{
    padding-left: 50px;
}